.idea/
.svn
.DS_Store
.env.secret
Thumbs.db
*.xcuserstate
*.xcuserdatad
*.iml
.externalNativeBuild
*.dSYM
*.dSYM.zip
*.ipa

Pods
fastlane/report.xml
fastlane/test_output
fastlane/Preview.html
fastlane/screenshots

fastlane/.env.secret
Documents/Documents/Services/GoogleService-Info-dev.plist
Documents/Documents/Services/GoogleService-Info-prod.plist
Documents/Documents/Internal.plist
Documents/Keys/api-project-948651087073-firebase-crashreporting-0ashu-f1015e074c.json
