.idea/
.svn
.DS_Store
.env.secret
Thumbs.db
*.xcuserstate
*.xcuserdatad
*.iml
.externalNativeBuild
*.dSYM
*.dSYM.zip
*.ipa

Pods
Podfile.lock
Gemfile.lock
fastlane/report.xml
fastlane/test_output
fastlane/Preview.html
fastlane/screenshots

fastlane/.env.secret
Documents/Documents/Code/Business/ASCConstants.swift
Documents/Documents/GoogleService-Info.plist
Documents/Documents/Info.plist
Documents/Keys/api-project-948651087073-firebase-crashreporting-0ashu-f1015e074c.json
