.idea/
.svn
.DS_Store
.env.secret
Thumbs.db
*.xcuserstate
*.xcuserdatad
*.iml
.externalNativeBuild
*.dSYM
*.dSYM.zip
*.ipa
.swiftpm
.build/

Pods
fastlane/report.xml
fastlane/test_output
fastlane/Preview.html
fastlane/metadata
fastlane/screenshots

local_gems/

fastlane/.env.secret
Documents/Documents/Services/GoogleService-Info-dev.plist
Documents/Documents/Services/GoogleService-Info-prod.plist
Documents/Documents/Internal.plist
Documents/Keys/api-project-948651087073-firebase-crashreporting-0ashu-f1015e074c.json
Documents/Keys/F8D434904F7142C49EB3E4CD738CFE01.lic
Documents/Settings.bundle/com.onlyoffice.Documents.Acknowledgements
Documents/Settings.bundle/com.onlyoffice.Documents.Acknowledgements.plist