<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TableName</key>
	<string>Localizable</string>
	<key>Items</key>
	<array>
		<dict>
			<key>Image</key>
			<string>whatsnew-onlyoffice</string>
			<key>Title</key>
			<string>Improved integration with ONLYOFFICE DocSpace v2.5</string>
			<key>Subtitle</key>
			<string>Sign in to your ONLYOFFICE DocSpace and access the new features of version 2.5</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>whatsnew-paragraph</string>
			<key>Title</key>
			<string>Paragraph styles management in the document editor</string>
			<key>Subtitle</key>
			<string>Create new paragraph styles and delete the ones you have already created</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>whatsnew-vertical</string>
			<key>Title</key>
			<string>Vertical text alignment in shapes in all the editors</string>
			<key>Subtitle</key>
			<string>Align text vertically in shapes inserted into your docs, sheets and slides</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>whatsnew-form</string>
			<key>Title</key>
			<string>More convenient navigation through form fields</string>
			<key>Subtitle</key>
			<string>Navigation buttons for form fields are now located on the navigation panel</string>
		</dict>
	</array>
</dict>
</plist>
