<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TableName</key>
	<string>Localizable</string>
	<key>Items</key>
	<array>
		<dict>
			<key>Image</key>
			<string>whatsnew-onlyoffice</string>
			<key>Title</key>
			<string>Improved compatibility with DocSpace</string>
			<key>Subtitle</key>
			<string>Sign in to your DocSpace on any iOS device to create rooms, invite users, add tags, etc.</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>whatsnew-language</string>
			<key>Title</key>
			<string>Changing text document language</string>
			<key>Subtitle</key>
			<string>Switch the language of the text document for correct spellchecking and hyphenation.</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>whatsnew-formula-tips</string>
			<key>Title</key>
			<string>Search for spreadsheet formulas</string>
			<key>Subtitle</key>
			<string>Find necessary formulas in your worksheets using searching bar.</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>whatsnew-custom-cell</string>
			<key>Title</key>
			<string>Custom cell format</string>
			<key>Subtitle</key>
			<string>Use custom cell format to display the value as a postal code, phone number or license plate.</string>
		</dict>
	</array>
</dict>
</plist>
