<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TableName</key>
	<string>Localizable</string>
	<key>Items</key>
	<array>
		<dict>
			<key>Image</key>
			<string>whatsnew-hyphenation</string>
			<key>Title</key>
			<string>Automatic hyphenation</string>
			<key>Subtitle</key>
			<string>Author documents without having to manually hyphenate words at the end of the line.</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>whatsnew-multi-column</string>
			<key>Title</key>
			<string>Multi-column layout</string>
			<key>Subtitle</key>
			<string>Divide your text into several columns choosing among available position options.</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>whatsnew-formula-tips</string>
			<key>Title</key>
			<string>Formula tips</string>
			<key>Subtitle</key>
			<string>Easily enter formulas in spreadsheets checking the proper syntax in tips.</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>whatsnew-header-footer-setting</string>
			<key>Title</key>
			<string>Header &amp; Footer advanced settings</string>
			<key>Subtitle</key>
			<string>Adjust headers and footers as you need it.</string>
		</dict>
	</array>
</dict>
</plist>
